<br>

  
  <div class="row ">
    <div class="col-sm-3">
        
        <div style="background:  #e6e6ea ">
            <button type="button" class="btn btn-info" style="width:260px; color: red ; font-size:20px"routerLink="/sanpham">Danh mục sản phẩm</button>
            <a class="dropdown-item"href="#"style="font-size:18px">Thiết bị cấp nước chữa cháy</a>
            <a class="dropdown-item"href="#"style="font-size:18px">Thiết bị báo cháy tự động</a>
              <a class="dropdown-item" href="#"style="font-size:18px">Trang phục chữa cháy</a>
              <a class="dropdown-item"href="#"style="font-size:18px">Thiết bị chống sét</a>
              <a class="dropdown-item"href="#"style="font-size:18px">Bình chữa cháy</a>
              <a class="dropdown-item"href="#"style="font-size:18px">Camera báo cháy, báo trộm</a>
            <a class="dropdown-item"href="#"style="font-size:18px">TB chiếu sáng thoát nạn</a>
              <a class="dropdown-item" href="#"style="font-size:18px">Thiết bị cứu nạn, cứu hộ</a>
            <a class="dropdown-item" href="#"style="font-size:18px">Xe chữa cháy</a>  
                
          </div>


    </div>
    <div class="col-sm-6">
  
      <div>
          <div style=" background: tomato; width:1000px"> <h5 style="margin-left: 20px; font-size: 25px"> Liên hệ</h5></div>
          <p>
              <span>
         <strong> CÔNG TY TNHH PHÒNG CHÁY MINH VŨ</strong>
 <br>Địa chỉ: 12 Trịnh Định Thảo,P.Hòa Thạnh,Q.Tân Phú
         <br> ĐT : (02513) 88 15 19 - Fax: (02513) 88 14 17
          <br>Email: info@phongchayhoanggia.vn
          <br> MST : 3602705387
              </span>
            </p>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            <div id="map" style="width:1000px; margin-top:30px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4775076760407!2d106.63214551416085!3d10.77469256217352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ea168a65c0b%3A0x2a4a7dc43e177de1!2zMTIgVHLhu4tuaCDEkMOsbmggVGjhuqNvLCBIb8OgIFRoYW5oLCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1559293758969!5m2!1svi!2s" width="900" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <br>
      </div>
  
    </div>  </div>

    
   