




<br>
<nav  class="navbar navbar-dark " style="background-color: #fe4a49">
    <img src="../assets/logo.jpg" style="width: 230px; margin-left: 50px">
    
<div>
    
    <ul id="nav" style="margin-right: 150px">
     
      <li><a routerLink="/trangchu">Trang chủ</a></li>
      <li><a routerLink="/gioithieu">Giới thiệu</a></li>
        
        <li><a routerLink="/sanpham"class="hsubs" href="#">Sản phấm</a>
      <ul class="subs">
        <li><a routerLink="/thietbi1">Thiết bị cấp nước chữa cháy</a></li>
        <li><a href="#">Thiết bị báo cháy tự động</a></li>
        <li><a href="#">Trang phục chữa cháy</a></li>
        <li><a href="#">Thiết bị chống sét</a></li>
        <li><a href="#">Bình chữa cháy</a></li>
        <li><a href="#">Camera báo cháy, báo trộm</a></li>
        <li><a href="#">TB chiếu sáng thoát nạn</a></li>
        <li><a href="#">Thiết bị cứu nạn, cứu hộ</a></li>
        <li><a href="#">Xe chữa cháy</a></li>
      </ul>
  </li>
      
  <li><a routerLink="/tintuc">Tin tức</a></li>
  <li><a routerLink="/lienhe">Liên hệ</a></li>
      
        </ul>
       
        
        </div>
       
  </nav>

<p> thu con meo 1 </p>
  

  <div class="container" style="overflow: hidden;">
  <router-outlet></router-outlet>
</div>
  <!--sanpham-->
    
  <!--footer-->
  <div class="panel-footer nen">
      <div class="row nen" style=" color:red">
        <div class="col-sm-4">
    
          <div class="col-sm" style="margin-left: 30px; margin-top:30px ">
            <h5>Trụ sở chính</h5>
            <hr style="width: 200px;margin-left: 3px">
            <p><span>
              424/8 KP 5B, P.Tân Biên, TP.Biên Hòa, T.Đồng Nai
                <br>
                (02513) 88 15 99 - Fax: (0613) 88 14 77</span></p>
          </div>
     
        </div>
    

        <div class="col-sm-4" style="margin-top: 30px">
          <h5>Chi nhánh Sài Gòn</h5>
          <hr>
          <p style=" margin-left: 2px"><span> <i class="fa fa-map-marker"></i>&nbsp;
            12 Trịnh Đình Thảo, P.Hòa Thạnh, Q.Tân Phú, TP.Hồ Chí Minh
            <br>
            <i class="fa fa-volume-control-phone"></i>&nbsp;+84 (0) 905 646 162
          </span>
          </p>
          <h5 style=" margin-left: 80px"> </h5>
        </div>


        <div id="map" style="width:300px; margin-top:30px; margin-left: 100px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.477576279833!2d106.63214551390695!3d10.774687292322696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ea168a65c0b%3A0x2a4a7dc43e177de1!2zMTIgVHLhu4tuaCDEkMOsbmggVGjhuqNvLCBIb8OgIFRoYW5oLCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1558758028772!5m2!1svi!2s" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      </div>
  
  <!-- icon -->
  <div class="row nen ">
      <div class="columns" style="margin: auto;">
  
       
  
        <div class="block-button button-style7" >
          <a href="https://www.facebook.com/alacartedanangbeach/" class="button" style="background:white">
            <span class="ico ion-ios-location-outline fa fa-facebook" style="color:blue"></span>
          </a>
        </div>
  
        <div class="block-button button-style7">
          <a href="https://plus.google.com/discover" class="button" style="background:#FF0000 ">
            <span class="ico ion-ios-location-outline fa fa-google-plus" style="color:white"></span>
          </a>
        </div>
  
        <div class="block-button button-style7">
          <a href="https://twitter.com/" class="button" style="background: turquoise">
            <span class="ico ion-ios-location-outline fa fa-twitter" style="color: wheat"></span>
          </a>
        </div>
  
        <div class="block-button button-style7">
          <a href="https://www.youtube.com/results?search_query=alacarte+%C4%91%C3%A0+n%E1%BA%B5ng" class="button" style="background:#FF0000">
            <span class="ico ion-ios-location-outline fa fa-youtube" style="color:#000000	"></span>
          </a>
        </div>
  
      </div>
  
    </div>
  </div>
  
  